.login-form{
    max-width: 380px;
    width: 380px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);;
    input, select, span{
        font-size: 12px !important;
    }
    p{
        font-size: 14px !important;
    }
    button{
        font-size: 13px !important;
    }
}